@font-face {
  font-family: Azonix;
  src: url("styles/fonts/azonix-font/Azonix-1VB0.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("styles/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  font-family: Montserrat, monospace, "PT Sans", Tahoma, sans-serif;
  font-size: 18px;
}

/*------------------- HEADER -------------------*/
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 48px 64px 48px;
}

.logo {
  font-family: Azonix, monospace, "PT Sans", Tahoma, sans-serif;
  font-size: 2em;
  padding-right: 50px;
}

.header-links {
  font-size: 18px;
  display: flex;
  gap: 50px;
}

header a {
  color: white;
}

/*------------------- TOP PANNEL -------------------*/
.opening-area {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
  padding-top: 50px;
}

.opening.text {
  padding: 0 50px 100px;
  max-width: 600px;
}

.top-title {
  font-size: 48px;
  margin-bottom: 15px;
}

.top.button {
  margin-top: 25px;
}

.opening img {
  width: 800px;
}

/*------------------- GREY SPACE -------------------*/
.blank {
  background-color: rgb(63, 63, 63);
  height: 10px;
}

/*------------------- OPTIONS -------------------*/
.options-area {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top:64px;
  text-align: center;
  font-size: 20px;
}

.info-title {
  font-size: 36px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 52px;
  padding: 30px 0 80px;
  min-width: 300px;
}

.product-image {
  width: 300px;
  padding-bottom: 50px;
}

.option {
  max-width: 300px;
}
/*------------------- QUOTE -------------------*/
.quote-area {
  background-color: rgb(0, 0, 0);
  background-image: url(images/sameer-unsplash.jpg);
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.quote-box {
  background-color: rgba(0, 0, 0, .8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  
  max-width: 1000px;
  margin: 0px 50px;
  padding: 100px;
  border-radius: 50px;
}

.quote {
  align-self: center;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.author {
  align-self: flex-end;
}

/*------------------- ACTION -------------------*/
.action-area {
  background-color: rgba(0, 0, 0, .8);
  color: white;
  padding: 80px 0;
  font-size: 20px;
}

.action-box {
  background-color: rgba(0, 0, 0, .7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px;
  gap: 50px;
}

.action-title {
  margin-bottom: 10px;
}

.action-box .button {
  align-self: center;
}
/*------------------- FOOTER -------------------*/
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*--------------- UNDERLINE HOVER EFFECT ---------------*/
.underline-hover {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
}

.underline-hover::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.25s ease-out;
}

.underline-hover:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}
/*------------------- IMAGE HOVER ANIMATION -------------------*/
.product-image {
  transition: .3s ease;
}

.product-image:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

/*------------------- BUTTON HOVER ANIMATION -------------------*/
.button {
  font-family: Montserrat, monospace, "PT Sans", Tahoma, sans-serif;
  background-color: black;
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.button.hover-effect:hover {
  background:rgb(0, 0, 0);
  box-shadow: 0px 0px 20px  rgba(255,255,255,0.6);;
}

/*------------------- TYPE SELECTORS -------------------*/
h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

h5 {
  font-size: 28px;
}